
*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    margin: 8px;
}

body {
    margin: 0;
    background-color: #fddab5;
    font-family: "Sour_Gummy";
}

a {
    text-decoration: none;
    color: black;
}

ul{
    list-style: none;
    padding: 0;
    
}