
*{
    box-sizing: border-box;
}
/*
@font-face {
    font-family: 'Sour_Gummy';
    src: url('./assets/fonts/Sour_Gummy/SourGummy-VariableFont_wdth\,wght.ttf') format('truetype');
}
*/

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    color: #dde0e0;
    background-color: #fddab5;
    font-family: "Sour_Gummy";
}

header, footer{
    background-color: #d56700c0;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    max-width: 1440px;
    margin: 0 auto;
    min-height: calc(100vh - 20vh);
    color: black;
}

footer a{
    display: flex;
    justify-content: center;
    padding-top: 4px;
    text-decoration: none;
}

footer{
    margin-top: 16px;
    flex-direction: column;
}

/*@media (max-width: 500px) {}*/