
*{
    box-sizing: border-box;
}
/*
@font-face {
    font-family: 'Sour_Gummy';
    src: url('./assets/fonts/Sour_Gummy/SourGummy-VariableFont_wdth\,wght.ttf') format('truetype');
}
*/

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    color: #f7f7f7;
    background-color: #fddab5;
    font-family: "Sour_Gummy";
}

header, footer{
    background-color: #d56700c0;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

header img{
    width: 120px;
    height: 48px;
    position: absolute;
    left: 8px;
}

.atf{
    position: relative;
    width: 100%;
}

.round_img{
    border-radius: 50%;
    border: solid 2px white;
    height: 110px;
    width: 110px;
    position: absolute;
    z-index: 10;
    top: 70%;
    left: 50%;
    transform: translate(-50%);
    object-fit: cover;
}

.info{
    padding-left: 8px;
}

.rating{
    margin: 0;
    padding: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.checked {
  color: rgb(255, 184, 52);
}

main{
    max-width: 1440px;
    margin: 0 auto;
    min-height: calc(100vh - 20vh);
    color: black; 
}

main h1{
    padding: 8px;
    margin: 0;
}

main h3{
    margin: 0;
}

.name_rating{
    border-bottom: solid 2px white;
    width: 100%;
}

.name_rating h3{
    padding-left: 8px;
}

footer a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #f7f7f7;
}

.footer{
    margin: 0;
    display: flex;
}

footer p{
    display: flex;
    margin: 0;
    padding: 0 4px;
}

footer{
    display: flex;
    flex-direction: column;
}

