
 


.top_img img{
    height: 180px;
    width: 100%;
    object-fit: cover;
    display: flex;
}

.content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 8px;
}

.left{
    width: calc(100% - 300px);
    
}

.right{
    display: flex;
    justify-content: center;
    width: 300px;
    flex-grow: 1;
}

.basket{
    position: sticky;
    top: 0;
}

.menu{
    background-color: white;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.add{
    width: 16px;
    height: 16px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add p{
    color: #d56700c0;
}

#name h3, #name p{
    margin: 2px;
}

.price{
    color: #d56700c0;
    font-weight: 1000;
}