
#overlay{
    width: 40vw;
    height: 30vh;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    position: fixed;
    z-index: 13;
    justify-self: anchor-center;
    align-self: anchor-center;
}

#inner_overlay{
    width: 35vw;
    height: 25vh;
    background-color: #f7f7f7;
    border-radius: 8px;
    position: fixed;
    justify-self: anchor-center;
    align-self: anchor-center;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 8px;
}

#inner_overlay button{
    font-size: 20px;
}

.d_none{
    display: none;
}

#inner_overlay h3{
    text-align: center;
}

p{
    margin: 0;
    padding: 0;
}